@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-color: #a855f7 transparent;
  scrollbar-width: thin;
}

body {
  overflow-x: hidden;
  background-color: #250b49;
  font-family: "Space Grotesk", sans-serif;
}

h2 {
  @apply text-xl md:text-4xl;
}

p {
  @apply text-[18px] tracking-tight leading-relaxed;
}

span {
  @apply text-primary-400;
}

li {
  @apply hover:text-primary-200 relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-primary-200 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center transition-all duration-300 ease-in-out  cursor-pointer;
}

.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(178, 19, 202, 0.2), transparent 70%);
}
